body{
    text-align: center
}
.profile{
    margin:0 auto;
    width:365px;
    height:fit-content;
}
.employee{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border:1px solid black
}
.person_img{
    width: 100px;
    height: 100px;
}

.info{
    text-align: left;
}

.link_analogy{
    margin-left: 2px;
}

.link_analogy a{
    text-decoration: none;
}