<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sicnu.cs.dao.check_attendance.AttendanceDetailDao" >
  <resultMap id="BaseResultMap" type="cn.edu.sicnu.cs.pojo.AttendanceDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="e_id" property="eId" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="DATE" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="left_time" property="leftTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attendance_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.sicnu.cs.pojo.AttendanceDetail" >
    insert into attendance_detail (
    id,
    e_id,
    created_date,
    arrive_time, left_time)
    values (#{id,jdbcType=INTEGER}, #{eId,jdbcType=INTEGER}, #{createdDate,jdbcType=DATE}, 
      #{arriveTime,jdbcType=TIMESTAMP}, #{leftTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.sicnu.cs.pojo.AttendanceDetail" >
    update attendance_detail
      <trim prefix="set" suffixOverrides=",">
        <if test="eId!=null">e_id = #{eId,jdbcType=INTEGER},</if>
        <if test="createdDate!=null">created_date = #{createdDate,jdbcType=DATE},</if>
        <if test="arriveTime!=null">arrive_time = #{arriveTime,jdbcType=TIMESTAMP},</if>
        <if test="leftTime!=null">left_time = #{leftTime,jdbcType=TIMESTAMP},</if>
      </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByEidAndCreateDate" parameterType="cn.edu.sicnu.cs.pojo.AttendanceDetail" >
    update attendance_detail
    <trim prefix="set" suffixOverrides=",">
      <if test="arriveTime!=null">arrive_time = #{arriveTime,jdbcType=TIMESTAMP},</if>
      <if test="leftTime!=null">left_time = #{leftTime,jdbcType=TIMESTAMP},</if>
    </trim>
    where e_id = #{eId,jdbcType=INTEGER} and created_date = #{createdDate,jdbcType=DATE};
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, e_id, created_date, arrive_time, left_time
    from attendance_detail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, e_id, created_date, arrive_time, left_time
    from attendance_detail
  </select>

  <update id="updateLeftTimeByEid" parameterType="java.lang.Integer">
    update attendance_detail set left_time = now() where e_id=#{eid} and created_date=CURRENT_DATE();
  </update>


  <select id="selectRecentAttendanceDatail" resultMap="BaseResultMap">
    select id, e_id, created_date, arrive_time, left_time
    from attendance_detail where e_id = #{eid} and created_date >= #{date};
  </select>

  <resultMap id="employeeTodayDetail" type="cn.edu.sicnu.cs.pojo.EmployeeTodayDetail">
    <result column="id" property="eId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="left_time" property="leftTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectAllTodayDetail" resultMap="employeeTodayDetail">

    select e.id,e.name,e.title,a.arrive_time,a.left_time
    from employee e
    left join attendance_detail a
    on created_date = CURRENT_DATE() and e.id = a.e_id;

  </select>

  <select id="selectAllByEid" resultMap="BaseResultMap">
      select * from attendance_detail where e_id = #{eid}
  </select>

  <select id="selectAllToday" resultMap="BaseResultMap">
    select * from attendance_detail where created_date = CURRENT_DATE();
  </select>

  <select id="selectTodayByEid" resultMap="BaseResultMap">
    select * from attendance_detail where e_id = #{eId} and created_date = CURRENT_DATE();
  </select>

  <select id="selectByDate" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from attendance_detail where created_date = #{certainDate};
  </select>

</mapper>